* {
  margin: 0;
  padding: 0;
}

.mainTheme {
  background-color: blue;
}

.helpTheme {
  background-color: lightskyblue;
}

.mailbox__container {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 70px;
  bottom: 50px;
  left: 0;
  right: 0;
}

.header {
  position: absolute;
  width: 100%;
  height: 70px;
  padding: 10px;
  box-sizing: border-box;
}

.header__logout {
  padding: 5px;
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  box-shadow: 3px 3px black;
}

.header__writeLetter {
  float: right;
  padding: 5px;
  box-sizing: border-box;
  margin-right: 20px;
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  box-shadow: 3px 3px black;
}

.header__writeLetter:hover,
.header__logout:hover,
.writeLetter-modal-form__close:hover,
.writeLetter-modal-form__send:hover,
.letter-page__close:hover,
.letter-page__delete:hover,
.login-form__button:hover {
  background-color: gray;
  cursor: pointer;
}

.header__writeLetter:active,
.header__logout:active,
.writeLetter-modal-form__close:active,
.writeLetter-modal-form__send:active,
.letter-page__close:active,
.letter-page__delete:active,
.login-form__button:active {
  box-shadow: none;
}

.header-sortLetters {
  display: flex;
  float: right;
  padding: 5px;
  box-sizing: border-box;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 16px;
  outline: none;
  border: none;
}

.header-sortLetters__selector {
  border: none;
  outline: none;
}

.header__logo {
  font-size: 40px;
  width: 20%;
  display: inline-block;
  text-align: center;
  color: white;
}

.sideBar {
  width: 20%;
  padding: 15px;
  box-sizing: border-box;
}

.sideBar-categories {
  list-style-type: none;
  font-size: 20px;
  line-height: 30px;
  border-bottom: 1px solid black;
  padding-bottom: 8px;
}

.sideBar-categories__category {
  color: black;
  text-decoration: none;
}

.sideBar-categories__category:hover {
  color: white;
  cursor: pointer;
}

.mailBox {
  width: 78%;
  padding: 10px 15px;
  box-sizing: border-box;
  overflow-y: auto;
}

.footer {
  width: 100%;
  height: 50px;
  padding: 15px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  font-size: 20px;
  color: white;
}

.letter {
  width: 100%;
  height: 100px;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.letter__from {
  width: 50%;
  font-size: 20px;
  float: left;
  box-sizing: border-box;
}

.letter__date {
  width: 50%;
  font-size: 20px;
  float: right;
  text-align: right;
  box-sizing: border-box;
}

.letter__subject {
  clear: both;
  font-size: 18px;
  box-sizing: border-box;
  margin-top: 5px;
  width: 80%;
}

.read {
  background-color: rgb(185, 240, 189);
}

.unread {
  background-color: rgb(245, 188, 188);
}

.letter__message {
  font-size: 16px;
  box-sizing: border-box;
  margin-top: 5px;
  height: 20px;
  overflow: hidden;
  word-wrap: break-word;
}

.letter__message__full {
  height: 90%;
  line-height: 20px;
  word-wrap: break-word;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 500px;
  margin-left: -400px;
  margin-top: -250px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.writeLetter-modal-form {
  font-size: 20px;
}

.writeLetter-modal-form__textarea {
  width: 100%;
  height: 250px;
  resize: none;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
}

.modalBackground {
  background-color: black;
  opacity: 0.5;
  position: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.writeLetter-modal-form__senderInput,
.writeLetter-modal-form__themeInput {
  height: 30px;
  font-size: 16px;
  padding: 4px;
  box-sizing: border-box;
  width: 100%;
}

.writeLetter-modal__header {
  font-size: 30px;
  text-align: center;
}

.writeLetter-modal-form__close {
  padding: 5px;
  box-sizing: border-box;
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  box-shadow: 3px 3px black;
  width: 100px;
  float: left;
}

.writeLetter-modal-form__send {
  padding: 5px;
  box-sizing: border-box;
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  box-shadow: 3px 3px black;
  width: 100px;
  float: right;
}

.letterLink {
  text-decoration: none;
  color: black;
}

.letter_ul {
  width: 100%;
  height: 100%;
}

.letter__li {
  list-style-type: none;
}

.letterLink:hover .letter {
  transform: scale(1.01);
  background-color: whitesmoke;
}

.letter-page {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
}

.letter-page__close {
  float: left;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  box-shadow: 3px 3px black;
}

.letter-page__delete {
  float: right;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  box-shadow: 3px 3px black;
}

.login {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.login-form {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 250px;
  margin-left: -250px;
  margin-top: -125px;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
}

.login-form__button {
  text-align: center;
  font-size: 16px;
  box-shadow: 3px 3px black;
  margin-top: 20px;
}

.login-form__header {
  text-align: center;
}

.login-form__loginHint {
  float: right;
  color: red;
  text-align: center;
}

.form__error {
  color: red;
}

.login-form__input {
  padding: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  font-size: 100px;
  animation: 3s linear 0s normal none infinite running rot;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.emptyMailBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.emptyMailBox__text {
  text-align:center;
  font-size: 30px;
}

.findSenderForm {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}

.findSenderForm__input {
  height: 28.4px;
  outline: none;
  border: none;
  padding: 5px;
  box-sizing: border-box;
  background-color: lightskyblue;
  color: black;
}